<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/AppTheme"
        android:label="lab1_Nizami">

        <!-- MainActivity с указанием android:exported -->
        <activity
            android:name="com.example.mr_lab1.MainActivity"
            android:label="Nizami"
            android:exported="true"> <!-- Для лаунчер-активности всегда должно быть true -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>